watch_file flake.nix

if ! use flake . --impure; then
	echo "devenv could not be built. the devenv environment was not loaded. make the necessary changes to flake.nix and hit enter to try again." >&2
fi
